body {
    width: 100%;
    max-width: 1600px;
    background-color: white;
    margin: auto;
}

.header {
    color: #369569;
    box-sizing: border-box;
    margin-top: 22px;
}

.borderTop {
    border-top: solid #369569 1px;
}

.borderBottom {
    border-bottom: solid #369569 1px;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

a.nav-link {
    color: ghostwhite;
    font-weight: 700;
}

a.nav-link:hover {
    background-color: #43BA83;
    color: white;
}

.navMenu {
    background-color: #369569;
    border-radius: 5px;
    width: 100%;
}

.menu {
    font-size: 1em;
}

.logo {
    max-width: 40px;
}

.title {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 22px;
}

.adres {
    max-width: 1600px;
}

.adres1 {
    text-align: center;
    color: #369569;
    font-weight: 700;
    font-size: 27px;
}

.adres2 {
    text-align: center;
    color: #369569;
    font-weight: 500;
}

.font80pc {
    font-size: 80%;
}

.uslugi {
    padding-top: 2%;
    padding-bottom: 1%;
}

.uslugiT {
    padding-bottom: 2%;
}

li {
    list-style-type: square;
}

.liHead {
    font-weight: 800;
    list-style-type: none;
}

.hide {
    display: none;
}

.head {
    color: #369569;
    text-align: right;
    font-weight: 600;
    font-size: 1em;
}

.tel {
    color: #000;
    font-weight: 600;
}

.greenBack {
    background-color: #369569;
}

.doctor {
    color: white;
    padding-left: 1%;
}

.marginBot {
    margin-bottom: 27px;
}

.marginTop {
    margin-top: 27px;
}

.wiek {
    font-weight: 700;
    color: #369569;
}

.paddingBot {
    padding-bottom: 27px;
}

.paddingTop {
    padding-top: 27px;
}

.paddingRight {
    padding-right: 27px;
}

.green {
    color: #369569;
    font-weight: 500;
}

.darkGreen {
    background-color: #1B4A34;
    color: white;
}

a.green:hover {
    color: #43BA83;
    font-weight: 700;
}

a.green {
    font-weight: 700;
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .mediumScreen {
        display: none;
    }
}