body {
    width: 100%;
    max-width: 1600px;
    background-color: white;
    margin: auto;
}

.header {
    color: #369569;
    margin-top: 12px;
    text-align: center;
    padding-bottom: 22px;
}

.title {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 22px;
}

.borderTop {
    border-top: solid #369569 1px;
}

.borderBottom {
    border-bottom: solid #369569 1px;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

a.nav-link {
    color: ghostwhite;
    font-weight: 700;
}

a.nav-link:hover {
    background-color: #43BA83;
    color: white;
}

a.nav-link-reverse {
    color: #369569;
}

a.nav-link-reverse:hover{
    color: #43BA83;
    text-decoration: none;
}

.navMenu {
    background-color: #369569;
    border-radius: 4px;
    width: 100%;
}

.menu {
    font-size: 13px;
}

.logo {
    max-height: 40px;
    width: auto;
    position: relative;
    left: 6px;
}

.titleTxt {
    position: absolute;
    top: 50%;
    left: 50%;
}

.adres {
    max-width: 1600px;
}

.adres1 {
    text-align: center;
    color: #369569;
    font-weight: 700;
    font-size: 27px;
}

.adres2 {
    text-align: center;
    color: #369569;
    font-weight: 500;
}

.font80pc {
    font-size: 80%;
}

.uslugi {
    padding: 2% 1% 1% 1%;
}

.uslugiT {
    padding-bottom: 2%;
    color: #369569;
}

li {
    list-style-type: square;
}

.liHead {
    font-weight: 800;
    list-style-type: none;
}

.hide {
    display: none;
}

.head {
    color: #369569;
    text-align: right;
    font-weight: 600;
    font-size: 1em;
}

.tel {
    color: #000;
    font-weight: 600;
}

.greenBack {
    background-color: #369569;
}

.doctor {
    color: white;
    padding-left: 1%;
}

.marginBot {
    margin-bottom: 27px;
}

.marginTop {
    margin-top: 27px;
}

.wiek {
    font-weight: 700;
    color: #369569;
}

.paddingBot {
    padding-bottom: 27px;
}

.paddingTop {
    padding-top: 27px;
}

.paddingRight {
    padding-right: 27px;
}

.green {
    color: #369569;
    font-weight: 500;
}

.greenH {
    color: #369569;
}

.darkGreen {
    background-color: #1B4A34;
    color: white;
}

a.green:hover {
    color: #43BA83;
    font-weight: 700;
}

a.green {
    font-weight: 700;
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .mediumScreen {
        display: none;
    }
}

@media screen and (min-width: 968px) {
    .menu {
        font-size: 1em;
    }
}

.imgRes {
    width: 100% \9;
}

.fotoHead {
    max-width: 62%;
    height: auto;
    }

.fotoOpis {
    color: #1B4A34;
    font-weight: 800;
    font-size: 1em;
    padding: 0 22px;
}

.center {
   text-align: center;
}

.greenSmall {
    color: #369569;
    font-size: 70%;
}